body {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
}

.box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
}
